<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>


<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE-edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>고려고고 성적처리 2022</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" th:href="@{/resources/css/main.css?ver-006}">
<link rel="stylesheet"
	th:href="@{/resources/css/student_list.css?ver-004}">
<link rel="stylesheet"
	th:href="@{/resources/css/student_detail.css?ver-004}">
<script th:inline="javascript">
	// thymeleaf 의 rootPath 를 Script 로 전달하기 위한 변환
	const rootPath = /*[[@{/}]]*/ /
</script>
<script th:src="@{/resources/js/main.js?ver-003}"></script>
<script th:src="@{/resources/js/student_list.js?ver-003}"></script>
</head>