<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<style>
form.score-input {
	width: 80%;
	margin: 10px auto;
}

div.score-input-list {
	display: flex;
	width: 90%;
}

div.score-input-list input, div.score-input-list div {
	flex: 1;
	margin: 5px;
	padding: 8px;
}
</style>
<div layout:fragment="content">
	<div class="student detail-body">
		<div>학번 :</div>
		<div class="student detail" th:text=${ST.st_num}></div>
	</div>
	<div class="student detail-body">
		<div>이름 :</div>
		<div class="student detail" th:text=${ST.st_name}></div>
	</div>
	<div class="student detail-body">
		<div>학과 :</div>
		<div class="student detail" th:text=${ST.st_dept}></div>
	</div>
	<div class="student detail-body">
		<div>전화번호 :</div>
		<div class="student detail" th:text=${ST.st_tel}></div>
	</div>
	<div class="student detail-body">
		<div>주소 :</div>
		<div class="student detail" th:text=${ST.st_addr}></div>
	</div>
	<form method="POST" class="score-input">
		<div class="score-input-list" th:each=" SST : ${ST.scoreList}"
			th:object="${SST}">
			<input th:value="*{sc_sbcode}" name="sb_code" readonly="readonly">
			<div th:text="*{sb_name}"></div>
			<input th:value="*{sc_score}" name="sc_score">
		</div>
		<button>저장</button>
	</form>
</div>