@charset "UTF-8";


* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
body {
	background-color: #f1f1f2;
}
section {
	margin-top: 130px;
	min-width: 1360px;
	height: 100%;
}

fieldset {
	border: none;
	outline: none;
}

div.nav {
	display: flex;
	justify-content: center;
}

div.container {
	position: relative;
	width: 700px;
	height: 55px;
}

img.logo {
	cursor: pointer;
	position: absolute;
	width: 200px;
	height: auto;
	left: -10px;
}

div.search {
	display: block;
	width: 400px;
	/* border: 2px solid #ff7f00; */
	border: 0;
	box-shadow : 0 0 8px 0 #d5d5d5;
	position: absolute;
	left: 210px;
	top: 10px;
	border-radius: 10px;
}

div.search input[type=text] {
	width: 355px;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 5px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	
}

div.search button {
	
	cursor: pointer;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	border: none;
	outline: none;
	background-color: white;;
	width: 40px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

div.profile {
	cursor: pointer;
	position: absolute;
	left: 640px;
	top: 6px;
	background-color:  #ff7f00;
	border-radius: 5px; 
 	width: 150px; 
 	top: 10px;
 	font-size: 18px;
 	line-height : 18px;
 	color : white;
 	align-items: center;
 	padding : 10px 15px;
 	align-items: center;
}


div.content_main {
	position: relative;
	width: 1130px;
	background-color: white;
	padding : 20px 50px 0 50px;
	margin: 150px auto;
	
}
div.content_main .listname {
	display: inline-block;
	font-size: 24px;
	margin-bottom:  30px;
}
div.content_main ul {
	position: relative;
	width: 1130px;
	display: flex;
	justify-content: space-between;
}


div.content_main ul li {
	width: 250px;
	height: 250px;
	align-items: center;
	display: inline-block;
	text-align: left;
}
div.content_main ul li a{
	cursor: pointer;
	
}
div.content_main ul li a img {
	width: 250px;
	height: 200px;
	object-fit: cover;
}
div.content_main ul li a div {
	margin : 5px;
}

.font_highlight 
{ color: #ff7f00}

.ico_cookcook {
	width: 50px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
}

