main {
	background-color: #e9e9e9;
	height: 100vh;
	min-width: 1190px;
	position: relative;
}

div.full-container {
	text-align: center;
	position: relative;
	width: 1130px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

div.full-container>div {
	margin-top: 50px;
}

div.memo-listbox {
	width: 400px;
	height: 100%;
}

div.memo-listbox tr {
	
}

div.memo-drop {
	background-color: #fff;
	height: 100%;
	width: 700px;
	border: 1px solid #ababab;
	display: none;
}

table.memo-list {
	table-layout: fixed;
	border-collapse: collapse;
}

table.memo-list td {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 15px;
}

table.memo-list tr:hover  {
	cursor: pointer;
	font-weight: 900;
}

td.td-date {
	width: 50px;
}

div.div-memo {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 290px;
	height: 16px;
}

.button {
	padding: 5px 12px;
	border: 1px solid #4444444a;
	outline: none;
	text-decoration: none;
	color: inherit;
	font-size: 16px;
	font-family: "Malgun Gothic";
	background-color: #fff;
	display: inline-block;
}

.button:hover {
	cursor: pointer;
}

.btn-addMemo {
	background-color: inherit;
	font-size: 30px;
	text-align: right;
}

.btn-addMemo:hover {
	cursor: pointer;
}

.div-memo, .div-memo-empty {
	text-align: right;
}